.navContainer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    .linkContainer{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .iconContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: none;
            border-radius: 30px;
            padding: 2px 5px;
            .icon{
                fill: var(--font-variant);
            }
        }
        p{
            font-size: 17px;
            margin-left: 10px;
            font-weight: 400;
            color: var(--font-variant)
        }
    }
    .linkContainer:hover{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .iconContainer{
            background-color: var(--container-contrast);
            transition: background-color 0.3s ease;
            .icon{
                fill: var(--font);
                transform: scale(1.08);
                transition: transform 0.3s ease;
            }
        }
        p{
            font-size: 17px;
            margin-left: 10px;
            font-weight: 500;
            color: var(--font-variant);
            transition: font-weight 0.3s ease;
        }
    }
    .active{
        p{
            font-weight: 500;
            color: var(--font);
        }
        .iconContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--primary-green);
            border-radius: 30px;
            padding: 2px 5px;
            .icon{
                fill: var(--on-primary);
            }
        }
    }
    .active:hover{
        p{
            font-weight: 500;
            color: var(--font);
        }
        .iconContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--primary-green);
            border-radius: 30px;
            padding: 2px 5px;
            .icon{
                fill: var(--on-primary);
                transform: scale(1.08);
                transition: transform 0.3s ease;
            }
        }
    }
}

.navContainer::before{
    content: '';
    width: 90%;
    height: 1.1px; 
    background-color: var(--outline);
    border-radius: 50px;
    position: relative;
    top: -20px;
}